
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
main{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    
}
table{
    border: double 8px rgb(0, 26, 223);
}

#haedline{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    background-color: antiquewhite;
    color: rgb(255, 25, 0);
}
table td{
    border: double 2px rgb(146, 8, 8);
}

#SubType{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15em;
    background-color:gainsboro;
    color: rgb(8, 1, 136);
}
#SubAmount{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15em;
    background-color:rgb(233, 183, 183);
    color: rgb(109, 3, 100);
}

.sumOfShips{
    color: rgb(0, 5, 93);
    font-size: larger;
}
.bgTdStyle{
    background-color: gray;
}

td{
    height: 20px;
    width: 20px;
    text-align: center;
}

.information{
    width: 260px;
    border: solid 4px rgb(0, 0, 0);
    margin-left: 1em;
}
.information td{
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: 550;
}

.information #haedline{
    
    border: solid 2px black;
    border-style: none none solid;
}



.selected form div div{
    display: flex;    
    
}
.title_grid{
    font-size: 1.4em;
    font-family:'Arial Narrow Bold','Courier New', Courier, monospace;
}
.part1,.part2,.battelships_number{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 550;
}


#startBattle{
    font-family: sans-serif;
    font-weight: 850;
    border: 5px double rgb(241, 241, 241);
    color: rgb(242, 241, 242);
    background-color: black;
}

#startBattle:hover{
    filter: opacity(80%);
}

input{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 550;
    color: rgb(0, 0, 153);
    border-radius: 5px;
}

/*למי שיש את המחלקה הזו האירוע שהיה לאלמנט מוסר*/
.remove{
    pointer-events: none;
}

#shipSunk{  
    width: 200px;
    border-radius: 10px;
}

.show,.finish{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameOver{
    color: brown;
    font-family:cursive, sans-serif;
}
